*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo 2', cursive;
}
.header{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logo{
    font-family: 'Baloo 2', cursive;
}
.logo img{
    width: 250px;
    height: 180px;
    margin-left: -15px;
}
/* .logo p{
    font-size: 30px; */
    /* margin-left: -15px; */
/* } */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align:right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
    font-size:20px ;

}
nav ul li{
    display:inline-block;
    margin-right: 20px;
    /* color: whitesmoke; */
}
a{
    text-decoration: none;
    color: #101010;
    font-size: 20px;
    color: whitesmoke;
    
}
a:hover{
    color: #267094;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1{
    flex-basis:50%;
    min-width:300px;
}
.col-1 img{
    max-width:100%;
    padding:50px 0px 50px 50px;
}

.col-1 h1{
    font-size:50px;
    line-height:60px;
    margin:25px 0;
}

.container{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right: 10px;
    height:1000px;
    color: whitesmoke;
}
.btn{
    display: inline-block;
    background-color: #16222A;
    color: whitesmoke;
    padding: 8px 30px;
    border-radius:30px;
    margin: 30px 0;   
}
.btn:hover{
    background: #267094;
    color: whitesmoke;
}
.categories{
    margin: 70px 0;
}
.col-2{
    flex-basis: 32%; /*   max width */
    min-width: 250px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px  black /*#267094; */
    /* box-shadow: Horizontaloffset versticaloffset Blur Color; */
}
.col-2 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.col-3 img{
    width: 100%;    
}
.col-3{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 30px;
}
h3{
    color: gray;
    text-align: center;
    margin-bottom: 2%;
}
.col-4 img{
    width: 100%;    
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 30px;
}
h2{
    color: gray;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.offer{
    background-color: whitesmoke;
    height: auto;
    margin-top: 90px;
    padding: 30px 0;
}
.col-1 .AppleWatch{
    padding: 35px;
    margin-top: -20px;
    /* height: 200px; */
}
.rating{
    color: orange;
    cursor: pointer;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: gray;
}
.title::after{
    content:'';
    background: #16222A;
    width: 80px;
    height:5px;
    border-radius:5px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);

}
.brands{
    margin: 50px 0px;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width:100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.f-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.footer{
    background:#16222A;
    color:#8a8a8a;
    padding:60px 0 20px;
    height: fit-content;
}
.footer ul li a{
    font-size: 14px;
    color: #8a8a8a;
}
.footer ul li a:hover{
    color: #267094;
}